#scatterplot {  
    width: 100%;
    height: 100%;
    background: transparent; 
    position: relative;
}

#scatterplot .axislabel {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 12px;
    font-weight: 700;
    fill: var(--ctp-text) !important;
}

#scatterplot .xAxis path,
#scatterplot .xAxis line,
#scatterplot .yAxis path,
#scatterplot .yAxis line {
    stroke: var(--ctp-overlay2) !important;
}

#scatterplot .xAxis text,
#scatterplot .yAxis text {
    fill: var(--ctp-subtext1) !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
