#header {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: var(--ctp-surface1);
  stroke-width: 10px;
}

.track-inset {
  stroke: var(--ctp-surface0);
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 40px;
  stroke: transparent;
  cursor: pointer;
}

.handle {
  fill: var(--ctp-mauve);
  stroke: var(--ctp-mantle);
  stroke-width: 2px;
}

.ticks {
  font-size: 10px;
  fill: var(--ctp-subtext1);
  font-weight: 600;
}

.unselectable {
  user-select: none;
}
