html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  shape-rendering: auto;
}

.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  visibility: hidden;
}
